COMPOSE_PROJECT_NAME=magento2

# If you want to use mariadb instead of mysql use "mariadb"
DATABASE=mysql

MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql

# MySQL root user password
MYSQL_ROOT_PASSWORD=unknown

# Database settings: Username, password and database name
MYSQL_USER=admin
MYSQL_PASSWORD=flensit
MYSQL_DATABASE=magento2

# If you already have the port 3306 in use, you can change it (for example if you have MySQL)
HOST_MACHINE_MYSQL_PORT=3306

# If you already hav the port 6379 in use, you can change it (for example if you have Redis)
HOST_MACHINE_REDIS_PORT=6379
